* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.secUserInput {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 80px;
    margin: 0 auto;
}

.userInput {
    flex: 4;
    height: 100%;
    border-radius: 10px;
    font-size: 28px;
}

.userInput::placeholder {
    font-size: 28px;
}

.bntSpeak {
    flex: 1;
    font-size: 28px;
    font-weight: 400;
    border-radius: 10px;
    height: 100%;
}

.bntSpeak:hover {
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .secUserInput {
        flex-direction: column;
        height: 120px;
        width: 100vw;
    }

    .userInput,
    .bntSpeak,
    .width {
        width: 100vw;
    }
}