* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

main .images>img {
    width: 300px;
    height: auto;
    margin-bottom: 60px;
    animation-name: easeinEaseout;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}

.secUserInput {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 80px;
    margin: 0 auto;
}

.userInput {
    flex: 4;
    height: 100%;
    border-radius: 10px;
    font-size: 28px;
}

.userInput::placeholder {
    font-size: 28px;
}

.bntSpeak {
    flex: 1;
    font-size: 28px;
    font-weight: 400;
    border-radius: 10px;
    height: 100%;
}

.bntSpeak:hover {
    cursor: pointer;
}

@keyframes easeinEaseout {
    0% {
        transform: scale(1.0);
    }

    50% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1.0);
    }
}

@media screen and (max-width: 600px) {
    main .images>img {
        width: 150px;
    }
}

@media screen and (max-width: 480px) {
    .secUserInput {
        flex-direction: column;
        height: 120px;
        width: 100vw;
    }

    .userInput,
    .bntSpeak,
    .width {
        width: 100vw;
    }
}

@media screen and (max-width: 305px) {
    main .images>img {
        width: 100px;
    }
}