* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

main .images>img {
    width: 200px;
    height: auto;
    margin-bottom: 60px;
    animation-name: easeinEaseout;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}

.secUserInput {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 80px;
    margin: 0 auto;
}

.userInput {
    flex: 4;
    height: 100%;
    border-radius: 10px;
    font-size: 28px;
}

.userInput::placeholder {
    font-size: 28px;
}

.bntSpeak {
    flex: 1;
    font-size: 28px;
    font-weight: 400;
    border-radius: 10px;
    height: 100%;
}

.bntSpeak:hover {
    cursor: pointer;
}

.userName {
    height: 30px;
    width: 230px;
    border-radius: 5px;
}

.guide {
    width: 80%;
    text-align: left;
    margin-top: 20px;
    font-size: 1.2rem;
}

.guide>article {
    text-align: center;
    margin-top: 20px;
}

.guide>p>span {
    font-size: 1rem;
}

.guide>article>p {
    margin: 5px 0;
}

.guide>article>p>span {
    color: red;
}

.dialogDiv {
    display: block;
    position: absolute;
    top: 15px;
    margin: 0 auto;
    width: 300px;
    height: auto;
    max-height: 150px;
    background-color: #f6ffcd;
    box-shadow: 2px 2px 5px 2px;
    border-radius: 5px;
    text-align: center;
    animation-name: slideUp;
    animation-duration: 8s;
    overflow: hidden;
}

@keyframes easeinEaseout {
    0% {
        transform: scale(1.0);
    }

    50% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1.0);
    }
}

@keyframes slideUp {
    0% {
        top: 15px;
        opacity: 1;
        display: block;
    }

    20% {
        top: 15px;
        opacity: 1;
        display: block;
    }

    40% {
        top: 15px;
        opacity: 1;
        display: block;
    }

    60% {
        top: 15px;
        opacity: 1;
        display: block;
    }

    80% {
        top: -100px;
        opacity: 0.7;
        display: block;
    }

    90% {
        top: -150px;
        opacity: 0.3;
        display: block;
    }

    100% {
        top: -200px;
        opacity: 0;
        display: none;
    }
}

@media screen and (max-width: 600px) {
    main .images>img {
        width: 150px;
    }
}

@media screen and (max-width: 480px) {
    .secUserInput {
        flex-direction: column;
        height: 120px;
        width: 100vw;
    }

    .userInput,
    .bntSpeak,
    .width {
        width: 100vw;
    }
}

@media screen and (max-width: 305px) {
    main .images>img {
        width: 100px;
    }
}